/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #8ccde9;
}

.cadre{
    
  background: #a4c9ce;
  flex-basis: 30%;
  flex-grow: 1;
  margin-left: 20%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(7, 7, 7, 0.2);

}
.membre-form{
  background: #a4c9ce;
  flex-basis: 30%;
  flex-grow: 1;
  margin-left: 20%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(7, 7, 7, 0.2);
}*/