*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    
}

.btn {
    width: 25%;
}


.hauteur{
    
    background: #a4c9ce;
    flex-basis: 50%;
    flex-grow: 1;
    margin-left: 20%;
    padding: 30px;
    padding-bottom: 10px;
    width: 50rem;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(7, 7, 7, 0.2);

}
.hauteur1{
    
    background: #a4c9ce;
    flex-basis: 30%;
    flex-grow: 1;
    margin-left: 20%;
    padding: 30px;
    width: 50rem;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(7, 7, 7, 0.2);

}
.hauteur2{
    
    background: #a4c9ce;
    flex-basis: 30%;
    flex-grow: 1;
    margin-left: 20%;
    padding: 30px;
    width: 50rem;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(7, 7, 7, 0.2);

}

.cadre{
    
        background: #a4c9ce;
        flex-basis: 30%;
        flex-grow: 1;
        margin-left: 20%;
        padding: 30px;
        width: 50rem;
        border-radius: 10px;
        box-shadow: 0 15px 50px rgba(7, 7, 7, 0.2);
    
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    text-align: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li:hover{
    background-color: rgb(187, 13, 45) ;
}
nav li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
    font-weight: bold;
}


nav ul li:hover ul{
    display: block;
    display: flex;
    flex-direction: column;
}



body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(90deg, rgb(153, 153, 171) 0%, rgba(9,121,92,1) 35%, rgba(0,212,255,1) 100%);  
}
.anime{
    background: #9dbccb;
    margin: auto;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 70px;
    
}



.copyright{
   
    align-self: center;
    font-size: 1.5px;
    font-weight: bold;
    bottom: 10px;
}
.social-icons{
   display: flex;
}

.social-icons li{
    justify-content: flex-end ; 
    margin: 0px 10px 10px 0px;
    font-size: 30px;
    transition: 1s;
    border-radius: 50px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: auto;

   }
.social-icons a {
    display: block;
    color: black;
    padding: 20px;
}
.social-icons li:nth-child(1){
    background: blueviolet;
}
.social-icons li:nth-child(2){
    background: red;
}
.social-icons li:nth-child(3){
    background: orange;
}
.social-icons li:nth-child(4){
    background: greenyellow;
}
.social-icons li:nth-child(5){
    background: orchid;
}
.social-icons li:hover{
    transform: translate(-8px);
    box-shadow: 0 10px rgb(255, 255, 255, .5);
}
